canvas {
	max-width: 600px;
	display: block;
	width: 100% !important;
	height: auto !important;
}
.colorkey {
	width: 3em;	
	height: 1em;
	display: inline-block;
	vertical-align: middle;
}

aside.canvascell {
	width: 100%;
}

table {
	width: 100%;
	margin: 1em 0;
	
		tr {
			width: 100%;
			background: #222;
			color: #fff;
			margin: 0 0 .2em 0;
			display: block;
			float: left;
			
			td {
				width: 40%;
				display: block;
				float: left;
				padding: .2em 5%;
			}
		}
		
		tr:nth-of-type(even) {
			background: #666;
		}
}


table.three {
	width: 100%;
	margin: 1em 0;
	
		tr {
			width: 100%;
			background: #222;
			color: #fff;
			margin: 0 0 .2em 0;
			display: block;
			float: left;
			
			td {
				width: 25%;
				display: block;
				float: left;
				padding: .2em 4.166%;
			}
		}
		
		tr:nth-of-type(even) {
			background: #666;
		}
}


@media screen and (min-width: $med) {
	table, table.three {
		width: 50%;
		float: left;
		margin-right: 5%
	}
	
	
	p {
		width: 45%;
		float: left;
	}

}

@media screen and (min-width: $big) {
	aside.canvascell {
		width: 60%;
		margin-right: 3%;
		float: left;
	}
		
	table, table.three {
		width: 37%;
		margin-right: 0;
		float: left;
	}

	p {
		clear: none;
		width: 37%;
	}

}