canvas {
	max-width: 600px;
	display: block;
	width: 100% !important;
	height: auto !important;
}



.chartkey {
	display: block;
	height: 1em;
	width: 10%;
	float: left;
	margin: 0 5% 0 0
}


.key {
	width: 100%;
}
.keys li {
	width: 85%;
	margin: 0 0 1em 0 ;
	
}


.blue {
	background: #00f;
}

.yellow {
	background: #ff0;
}

.red {
	background: #f00;;
}

.black {
	background: #000;
}


aside.canvascell {
	width: 100%;
}

table {
	width: 100%
}


@media screen and (min-width: $med) {
	table {
		width: 50%;
		float: left
	}
	
	p {
		width: 45%;
		margin-right: 5%;
		float: left;
	}

}

@media screen and (min-width: $big) {
	aside.canvascell {
		width: 65%;
		margin-right: 5%;
		float: left;
	}
		
	table {
		width: 30%;
		float: left
	}

	p {
		clear: both;
	}

}