.pink {
	background: $pink;
}

.blue {
	background: $blue;
}

.yellow {
	background: $yellow;
}

.green {
	background: $green;
}

.orange {
	background: $orange;
}

.black {
	background: $black;
}

.white {
	background: $white;
}

.offwhite {
	background: $offwhite;
}

.red {
	background: $red;
}

.purple {
	background: $purple;
}

.lightblue {
	background: $lightblue;
}

.violet {
	background: $violet;
}

.darkgreen {
	background: $darkgreen;
}

.brown {
	background: $brown;
}

.gray {
	background: $gray;
}

.lightbrown {
	background: $lightbrown;
}

.darkgray {
	background: $darkgray;
}

.superpink {
	background: $superpink;
}
