body {
	background: url('../img/gridme.png') repeat fixed;
}

div.containter {
	max-width: 1000px;
	width: 100%;	
	margin: 0 auto;
	font-family: 'SourceSansProLight';
}

article {
	width: 92.5%;
	padding: 1em 3.75%;	
	background: rgba(255,255,255,.65);
	float: left;
}

section {
	width: 100%;
	padding: 0 0 1em;
	float: left;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

section:hover {
}

aside {
	
}

canvas {

}