nav {
	margin: 0 auto;
	font-family: 'SourceSansProLight';
	ul {
		
		li {
			margin-bottom: .5em;
			text-align: center;
			padding: .5em 0;
			
			a, a:link, a:visited {
				text-decoration: none;
				color: #000;
				font-size: 1.25em;
				-webkit-transition: color .5s;
				-moz-transition: color .5s;
				-ms-transition: color .5s;
				-o-transition: color .5s;
				transition: color .5s;
				
			}
			
			a:hover, a:active, a:focus {
				color: #f00;
				font-size: 1.25em;
				
			}
		}
	}
}

header {
	float: left;
	background: #fff;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
	overflow: hidden;

	
}

.mininav {
	
	nav {

		margin: -28.1em 0 0 0;
		ul {
			
		}
	}
}


.quicklinks {
	display: block;
	height: 3.5em;
}


.togglea {
	padding: 1em 0;
}